aiobotocore==2.15.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aioitertools==0.12.0
aiosignal==1.3.1
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.6.2.post1
asgiref==3.8.1
attrs==24.2.0
beautifulsoup4==4.12.3
blessed==1.20.0
blinker==1.9.0
botocore==1.35.36
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cprint==1.2.2
datasets==3.1.0
debugpy==1.8.8
dill==0.3.8
Django==5.1.1
docstring_parser==0.16
editor==1.6.6
filelock==3.16.1
Flask==3.1.0
frozenlist==1.5.0
fsspec==2024.10.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.8
ijson==3.3.0
inquirer==3.4.0
inspect_ai==0.3.46
inspect_evals @ git+https://github.com/UKGovernmentBEIS/inspect_evals@ea121794fa4572cf76cc164e04f13ffd069fae19
itsdangerous==2.2.0
Jinja2==3.1.5
jinxed==1.3.0
jmespath==1.0.1
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mmh3==5.0.1
multidict==6.1.0
multiprocess==0.70.16
nest-asyncio==1.6.0
numpy==2.1.3
packaging==24.2
pandas==2.2.3
pillow==11.0.0
platformdirs==4.3.6
prettytable==3.12.0
propcache==0.2.0
psutil==6.1.0
pyarrow==18.0.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
readchar==4.2.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
runs==1.2.2
s3fs==2024.10.0
semver==3.0.2
shortuuid==1.0.13
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.1
tenacity==9.0.0
termcolor==2.5.0
tiktoken==0.8.0
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.16.0
xmod==1.8.1
xxhash==3.5.0
yarl==1.17.2
zipp==3.21.0
